.box {
  width: 200px;
  height: 200px;
  background-image: url(./bg/1.PNG);
  border: 50px dotted red;
  padding: 50px;
  background-clip: padding-box;
  background-clip: border-box;
  background-clip: content-box;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text_hl {
    color: transparent;
    /* https://grabient.com/_gBggNWgK-f-cf9PgDsf4Uf2ef55f-Bf_agBD */

    background: linear-gradient(90deg, #07aeea 0%, #2bf598 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
