p {
  font-size: 24px;
  font-weight: bold;
  text-align: justify;
  background-color: lightgray;
}

div {
  height: 200px;
  width: 200px;
  border: black;
  border: 2px solid black;
  /* background-color: blue; */
  border-radius: 10px;
}

#hello {
  height: 200px;
  width: 200px;
  border: black;
  border: 2px solid black;
  background-color: yellow;
  border-radius: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 400px;
  width: 400px;
  background-color: lightsteelblue;

}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

#special{
    background-color: orange;
    color: white;
}

ul{
        list-style: none;
    display: flex
;
}

li{
    margin-inline: 20px ;
}



.box1{
  background-color: red;
}