.TodoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
}
.TodoText{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.complete{
    text-decoration: line-through;
    color: #aaa;
}

.TodoButton{
    height: 30px;
    width: 90px;
 border-radius: 5px;
 background-color: rgb(59, 59, 59);
 color: aliceblue;
}